@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style
*	Edit this section
*
* ======================================================= */
html, body {
  overflow-x: hidden;
}

body {
  font-family: "Varela Round", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #7f7f7f;
  background: #fff;
  height: 100%;
  position: relative;
}

a {
  color: #343a40;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #75797c;
  outline: none;
}

p {
  margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Varela Round", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}

::-webkit-selection {
  color: #fff;
  background: #118DF0;
}

::-moz-selection {
  color: #fff;
  background: #118DF0;
}

::selection {
  color: #fff;
  background: #118DF0;
}

#fh5co-header {
  background: #ffb75e;
    background: -webkit-linear-gradient(to left, #ffb75e, #ed8f03);
    background: linear-gradient(to left, #ffb75e, #ed8f03);
  height: 800px;
}
@media screen and (max-width: 768px) {
  #fh5co-header {
    height: 1000px;
  }
}
#fh5co-header .intro {
  margin-top: 18em;
}
@media screen and (max-width: 768px) {
  #fh5co-header .intro {
    margin-top: 7em;
  }
}
#fh5co-header .intro #fh5co-logo {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.5;
}
#fh5co-header .intro #fh5co-logo a {
  border-bottom: none !important;
}
#fh5co-header .intro h2 {
  font-size: 24px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.95);
}
#fh5co-header .intro a {
  color: rgba(255, 255, 255, 0.95);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
#fh5co-header .intro a:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
}
#fh5co-header .intro .btn {
  border-bottom: none !important;
}
#fh5co-header .fh5co-intro-img {
  position: relative;
  bottom: -10em;
}
@media screen and (max-width: 768px) {
  #fh5co-header .fh5co-intro-img {
    bottom: -5em;
  }
}
#fh5co-header .fh5co-intro-img img {
  max-width: 380px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 768px) {
  #fh5co-header .fh5co-intro-img .img-1 {
    max-width: 380px;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-header .fh5co-intro-img .img-1 {
    max-width: 100%;
  }
}
#fh5co-header .fh5co-intro-img .img-2 {
  position: absolute;
  top: 5em;
  right: -1em;
}
@media screen and (max-width: 992px) {
  #fh5co-header .fh5co-intro-img .img-2 {
    right: -10em;
  }
}
@media screen and (max-width: 768px) {
  #fh5co-header .fh5co-intro-img img {
    max-width: 100%;
  }
}

#main {
  margin-top: 14em;
  clear: both;
}
@media screen and (max-width: 480px) {
  #main {
    margin-top: 8em;
  }
}

.fh5co-heading {
  margin-bottom: 3em;
}

.fh5co-testimonial {
  padding: 7em 0;
  background: #f2f2f2;
}
.fh5co-testimonial .review i {
  color: #d9d9d9;
}
.fh5co-testimonial .review i.colored {
  color: #FFC12D;
}
.fh5co-testimonial .testimony-slide {
  text-align: center;
}
.fh5co-testimonial .testimony-slide span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  display: block;
}
.fh5co-testimonial .testimony-slide figure {
  margin-bottom: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-testimonial .testimony-slide figure img {
  width: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.fh5co-testimonial .testimony-slide blockquote {
  border: none;
  margin: 30px auto;
  width: 70%;
  position: relative;
  padding: 0;
}
@media screen and (max-width: 992px) {
  .fh5co-testimonial .testimony-slide blockquote {
    width: 100%;
  }
}

.get-started .form-control {
  background: rgba(255, 255, 255, 0.4);
  border: none !important;
  color: #000;
  font-size: 16px !important;
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.get-started .form-control::-webkit-input-placeholder {
  color: #000;
}
.get-started .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}
.get-started .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}
.get-started .form-control:-ms-input-placeholder {
  color: #000;
}
.get-started .form-control:focus {
  background: rgba(255, 255, 255, 0.7);
}

.get-started .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}
.get-started .form-inline .form-group .form-control {
  width: 100%;
}

.fh5co-feature {
  height: 600px;
  overflow: hidden;
  border-bottom: 2px solid #f2f2f2;
  margin-bottom: 7em;
  padding-top: 4em;
}
.fh5co-feature.last-feature {
  margin-bottom: 0em;
  border-bottom: none;
}
@media screen and (max-width: 992px) {
  .fh5co-feature {
    overflow: hidden;
    height: inherit !important;
  }
}
.fh5co-feature .fh5co-copy {
  height: 600px;
  display: table;
}
@media screen and (max-width: 992px) {
  .fh5co-feature .fh5co-copy {
    display: block;
    height: inherit !important;
    text-align: center;
    margin-bottom: 30px;
  }
}
.fh5co-feature .fh5co-copy > .fh5co-copy-inner {
  display: table-cell;
  vertical-align: middle;
}
.fh5co-feature .fh5co-copy > .fh5co-copy-inner h2 {
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px 0;
}
.fh5co-feature .fh5co-copy > .fh5co-copy-inner h2:before {
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 2px;
  background: #118DF0;
  content: "";
}
@media screen and (max-width: 992px) {
  .fh5co-feature .fh5co-figure {
    text-align: center;
    margin-bottom: -10em;
  }
}
.fh5co-feature .fh5co-figure img {
  vertical-align: based;
  max-width: 380px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 992px) {
  .fh5co-feature .fh5co-figure img {
    max-width: 380px;
  }
}
@media screen and (max-width: 768px) {
  .fh5co-feature .fh5co-figure img {
    max-width: 100%;
  }
}
.fh5co-feature.fh5co-reverse .fh5co-figure {
  text-align: right;
}
@media screen and (max-width: 992px) {
  .fh5co-feature.fh5co-reverse .fh5co-figure {
    text-align: center;
  }
}

#get-started {
  padding: 7em 0;
  background: #ffb75e;
    background: -webkit-linear-gradient(to left, #ffb75e, #ed8f03);
    background: linear-gradient(to left, #ffb75e, #ed8f03);
}
#get-started .fh5co-heading h2 {
  margin-bottom: 20px;
  color: #fff;
}
#get-started .fh5co-heading p {
  color: #fff;
  font-size: 18px;
  line-height: 1.8;
}

#footer {
  padding: 7em 0;
}
#footer .fh5co-social {
  margin: 0;
  padding: 0;
}
#footer .fh5co-social li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#footer .fh5co-social li a {
  padding: 20px;
}
#footer .fh5co-social li a i {
  font-size: 30px;
}
#footer .fh5co-social li a:hover, #footer .fh5co-social li a:focus, #footer .fh5co-social li a:active {
  text-decoration: none;
}
#footer .copyright em {
  display: block;
  font-style: normal;
}

#features {
  padding: 7em 0;
}
#features .feature-center {
  text-align: center;
}
#features .feature-center .icon {
  width: 90px;
  height: 90px;
  background: #efefef;
  display: table;
  text-align: center;
  margin: 0 auto 40px auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
#features .feature-center .icon i {
  display: table-cell;
  vertical-align: middle;
  height: 90px;
  font-size: 40px;
  line-height: 40px;
  color: #118DF0;
}
#features .feature-center p, #features .feature-center h3 {
  margin-bottom: 10px;
}
#features .feature-center h3 {
  text-transform: uppercase;
  font-size: 16px;
  color: #000;
}
#features .feature-center p {
  color: #a6a6a6;
}

.owl-carousel .owl-controls .owl-dot span {
  background: #e6e6e6;
}
.owl-carousel .owl-controls .owl-dot span:hover, .owl-carousel .owl-controls .owl-dot span:focus {
  background: #cccccc;
}
.owl-carousel .owl-controls .owl-dot:hover span, .owl-carousel .owl-controls .owl-dot:focus span {
  background: #cccccc;
}
.owl-carousel .owl-controls .owl-dot.active span {
  background: transparent;
  border: 2px solid #118DF0;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Varela Round", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 12px 20px;
}
.btn.btn-md {
  padding: 4px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #118DF0;
  color: #fff;
  border: 2px solid #118DF0;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #2998f2 !important;
  border-color: #2998f2 !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #118DF0;
  border: 2px solid #118DF0;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #118DF0;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #118DF0;
}

.js .animate-box {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
