@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}


html,body {
  overflow-x: hidden;
}

body {
  font-family: "Varela Round", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #7f7f7f;
  background: #fff;
  height: 100%;
  position: relative;
}

a {
  color: #343a40;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover,a:active,a:focus {
  color: #75797c;
  outline: none;
}

p {
  margin-bottom: 30px;
}

h1,h2,h3,h4,h5,h6,figure {
  color: #000;
  font-family: "Varela Round", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}

::-webkit-selection {
  color: #fff;
  background: #118DF0;
}

::-moz-selection {
  color: #fff;
  background: #118DF0;
}

::selection {
  color: #fff;
  background: #118DF0;
}

.box {
  text-align: center;
  padding: 25px;
  background-color: #ffb75e;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25)
  color: #fff;
}

.box2 {
  text-align: center;
  padding: 25px;
  background-color: #ed8f03;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25)
}

.box p,.box2 p {
  color: #fff;
  margin: 0;
}.box a:hover,.box2 a:hover { text-decoration: none !important;}


.box:hover,.box2:hover {
  background-color: #de6c03;
}

ion-icon {
  font-size: 70px;
  color: #fff;
}

.second-row {
  display: flex;
  flex-direction: column-reverse;
}

#fh5co-header {
  background: #ffb75e;
  background: -webkit-linear-gradient(to left, #ffb75e, #ed8f03);
  background: linear-gradient(to left, #ffb75e, #ed8f03);
  height: 800px;
}

#fh5co-header .intro {
  margin-top: 18em;
}

#fh5co-header .intro #fh5co-logo {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.5;
}

#fh5co-header .intro #fh5co-logo a {
  border-bottom: none !important;
}

#fh5co-header .intro h2 {
  font-size: 24px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.95);
}

#fh5co-header .intro a {
  color: rgba(255, 255, 255, 0.95);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

#fh5co-header .intro a:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
}

#fh5co-header .intro .btn {
  border-bottom: none !important;
}

#fh5co-header .fh5co-intro-img {
  position: relative;
  bottom: -10em;
}

#fh5co-header .fh5co-intro-img img {
  max-width: 380px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
}

#fh5co-header .fh5co-intro-img .img-2 {
  position: absolute;
  top: 5em;
  right: -1em;
}

#main {
  margin-top: 14em;
  clear: both;
}


.fh5co-heading {
  margin-bottom: 3em;
}

.get-started .form-control {
  background: rgba(255, 255, 255, 0.4);
  border: none !important;
  color: #000;
  font-size: 16px !important;
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.get-started .form-control::-webkit-input-placeholder {
  color: #000;
}

.get-started .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}

.get-started .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}

.get-started .form-control:-ms-input-placeholder {
  color: #000;
}

.get-started .form-control:focus {
  background: rgba(255, 255, 255, 0.7);
}

.get-started .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}

.get-started .form-inline .form-group .form-control {
  width: 100%;
}

.fh5co-feature {
  height: 600px;
  overflow: hidden;
  border-bottom: 2px solid #f2f2f2;
  margin-bottom: 7em;
  padding-top: 4em;
}


.fh5co-feature .fh5co-copy {
  height: 600px;
  display: table;
}


.fh5co-feature .fh5co-copy > .fh5co-copy-inner {
  display: table-cell;
  vertical-align: middle;
}

.fh5co-feature .fh5co-copy > .fh5co-copy-inner h2 {
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px 0;
}

.fh5co-feature .fh5co-copy > .fh5co-copy-inner h2:before {
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 2px;
  background: #ed8f03;
  content: "";
}


.fh5co-feature .fh5co-figure img {
  vertical-align: based;
  max-width: 380px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
}



.fh5co-feature.fh5co-reverse .fh5co-figure {
  text-align: right;
}


#get-started {
  padding: 7em 0;
  background: #ffb75e;
  background: -webkit-linear-gradient(to left, #ffb75e, #ed8f03);
  background: linear-gradient(to left, #ffb75e, #ed8f03);
}

#get-started .fh5co-heading h2 {
  margin-bottom: 20px;
  color: #fff;
}

#get-started .fh5co-heading p {
  color: #fff;
  font-size: 18px;
  line-height: 1.8;
}

#footer {
  padding: 7em 0;
}

#footer .fh5co-social {
  margin: 0;
  padding: 0;
}

#footer .fh5co-social li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

#footer .fh5co-social li a {
  padding: 20px;
}

#footer .fh5co-social li a i {
  font-size: 30px;
}

#footer .fh5co-social li a:hover,#footer .fh5co-social li a:focus,#footer .fh5co-social li a:active {
  text-decoration: none;
}

#footer .copyright em {
  display: block;
  font-style: normal;
}

.footer-icon {
  color: #000;
  font-size: 45px;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Varela Round", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 12px 20px;
}

.btn.btn-md {
  padding: 4px 20px !important;
}

.btn:hover,.btn:active,.btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-none {
  cursor: pointer;
  color: #000;
}

.btn-none:hover {
  color: #de6c03;
  text-decoration: none;
  transition: 0.5s;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}

.form-control:active,.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #118DF0;
}

.js .animate-box {
  opacity: 0;
}

.card {
  border: none;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
}

.home:hover {
  color: #23272b;
}

.map {
  height: 350px;
  width: 100%;
}

.img-urzad {
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
}

.dane-um p {
  margin-top: 13%;
}

.hidden {
  display: none;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-icon {
  color: #dc3545;
}

.red-warning {
  background-color: rgba(204, 0, 37, 0.2);
}

.yellow-icon {
  color: #ffc107;
}

.yellow-warning {
  background-color: rgba(255, 193, 7, 0.2);
}

/*
 ###############################
 #                             #
 #                             #
 #         SIDE BAR            #
 #                             #
 #                             #
 ###############################
 */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #ffb75e;
  background: -webkit-linear-gradient(to left, #ffb75e, #ed8f03);
  background: linear-gradient(to left, #ffb75e, #ed8f03);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  /* position: absolute; */
  padding: 15px;
}
/*
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
} */


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: flex;
  text-decoration: none;
  color: #fff;
  padding: 10px 0px 10px 0px;
}

.sidebar-nav li a p {
  margin: 0;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.menu-icon {
  font-size: 30px;
  color:black;
}

.menu {
  position: fixed;
  z-index: 50;
}

.icon-wrapper {
  font-size: 2.5rem;
}


@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/* CUSTOM MEDIA QUERIES */

@media screen and (min-width: 768px) {
  .second-row {
    flex-direction: row;
  }
}

/* basic theme mediaqueries */

@media screen and (max-width: 768px) {
  #fh5co-header {
    height: 1000px;
  }
  #menu-toggle.toggled {
    padding-left: 250px;
  }
}
@media screen and (max-width: 768px) {
  #fh5co-header .intro {
    margin-top: 7em;
  }
}
@media screen and (max-width: 768px) {
  #fh5co-header .fh5co-intro-img {
    bottom: -5em;
  }
}
@media screen and (max-width: 768px) {
  #fh5co-header .fh5co-intro-img .img-1 {
    max-width: 380px;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-header .fh5co-intro-img .img-1 {
    max-width: 100%;
  }
}
@media screen and (max-width: 992px) {
  #fh5co-header .fh5co-intro-img .img-2 {
    right: -10em;
  }
}
@media screen and (max-width: 768px) {
  #fh5co-header .fh5co-intro-img img {
    max-width: 100%;
  }
}
@media screen and (max-width: 480px) {
  #main {
    margin-top: 11em;
  }
}
@media screen and (max-width: 992px) {
  .fh5co-feature {
    overflow: hidden;
    height: inherit !important;
  }
}
@media screen and (max-width: 992px) {
  .fh5co-feature .fh5co-copy {
    display: block;
    height: inherit !important;
    text-align: center;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 992px) {
  .fh5co-feature .fh5co-figure {
    text-align: center;
    margin-bottom: -10em;
  }
}
@media screen and (max-width: 992px) {
  .fh5co-feature .fh5co-figure img {
    max-width: 380px;
  }
}
@media screen and (max-width: 768px) {
  .fh5co-feature .fh5co-figure img {
    max-width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .fh5co-feature.fh5co-reverse .fh5co-figure {
    text-align: center;
  }
}
